[submodule "plugins/Denizen/scripts/external/cdnc"]
	path = plugins/Denizen/scripts/external/cdnc
	url = https://github.com/acikek/cdnc
[submodule "plugins/Denizen/scripts/external/mortal"]
	path = plugins/Denizen/scripts/external/mortal
	url = https://github.com/acikek/mortal
[submodule "plugins/Denizen/scripts/external/rank"]
	path = plugins/Denizen/scripts/external/rank
	url = https://github.com/acikek/rank
[submodule "plugins/Denizen/scripts/native/chat-util"]
	path = plugins/Denizen/scripts/native/chat-util
	url = https://github.com/lost-forever/chat-util
