# Data folders
cache
libraries
logs
versions

# Plugin folder
plugins/bStats
plugins/*.jar

# Citizens
plugins/Citizens/saves.yml

# Denizen
plugins/Denizen/*
!plugins/Denizen/scripts
!plugins/Denizen/config.yml
!plugins/Denizen/data
plugins/Denizen/data/token.txt

# LuckPerms
plugins/LuckPerms/*
!plugins/LuckPerms/config.yml
!plugins/LuckPerms/yaml-storage
plugins/LuckPerms/yaml-storage/*
!plugins/LuckPerms/yaml-storage/groups

# World folders
world*

# Various files
.console_history
*.json
paper.jar

# Leave eula out - make end user enable it
eula.txt

# Ignore server.properties until production-ready
server.properties