# Data folders
cache
libraries
logs
versions

# Plugin folder
plugins/bStats
plugins/Citizens/saves.yml
plugins/*.jar
plugins/Denizen/*
!plugins/Denizen/scripts
!plugins/Denizen/config.yml

# World folders
world*

# Various files
.console_history
*.json
paper.jar

# Leave eula out - make end user enable it
eula.txt

# Ignore server.properties until production-ready
server.properties